.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    
    margin-top: -30px;
    margin-left: 242px;
    z-index: 3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #83ebf4}

#phase:hover .dropdown-content {
    display: block;
}
