<nav>
  <ul>
     <li class="button" id="phase"><a routerLink='./phase_poule'><span>PHASE DE POULE</span></a>
      <div class="dropdown-content">
   <a routerLink='./phase_poule/PREMIERE'>Jour 1</a>
    <a routerLink='./phase_poule/DEUXIEME'>Jour 2</a>
    <a routerLink='./phase_poule/TROISIEME'>Jour 3</a>
  </div>
</li>
    <li class="button"><a routerLink='./quart'><span>QUART DE FINALE</span></a></li>
    <li class="button"><a routerLink='./demi_finale'><span>DEMI FINALE</span></a></li>
    <li class="button"><a routerLink='./finale'><span>FINALE</span></a></li>
  </ul>
</nav>