<nav>
  <ul>
     <li class="button" id="phase"><a routerLink='./phase_poule'><span>PHASE DE POULE</span></a>
      <div class="dropdown-content">
    <a href="#">Premiere Journee</a>
    <a href="#">Deuxieme Journee</a>
    <a href="#">Troisieme Journee</a>
  </div>
</li>
    <li class="button"><a routerLink='./quart'><span>QUART DE FINALE</span></a></li>
    <li class="button"><a routerLink='./demi_finale'><span>DEMI FINALE</span></a></li>
    <li class="button"><a routerLink='./finale'><span>FINALE</span></a></li>
  </ul>
</nav>