<nav>
  <ul>
     <li class="button" id="phase"><a routerLink='./phase_poule'><span>PHASE DE POULE</span></a>
      <div class="dropdown-content">
   <a href="/competition/phase_poule#jour1">JOUR 1</a>
    <a href="/competition/phase_poule#jour2">JOUR 2</a>
    <a href="/competition/phase_poule#jour3">JOUR 3</a>
  </div>
</li>
    <li class="button"><a routerLink='./quart'><span>QUART DE FINALE</span></a></li>
    <li class="button"><a routerLink='./demi'><span>DEMI FINALE</span></a></li>
    <li class="button"><a routerLink='./finale'><span>FINALE</span></a></li>
  </ul>
</nav>