<section class="tout">
    <a name="jour1"></a>
    <h1 >Premiere Journee</h1>

   <div class=" groupmatch">
      <h2>GROUPE A</h2>
      <app-match *ngFor="let match of gp1_j1|async" [idmacht]="match"></app-match>
    </div> 
    <div class="groupmatch">
        <h2>GROUPE B</h2>
      <app-match *ngFor="let match of gp2_j1|async" [idmacht]="match"></app-match>
    </div>
    <div class="groupmatch">
        <h2>GROUPE C</h2>
      <app-match *ngFor="let match of gp3_j1|async" [idmacht]="match"></app-match>
    </div>
    <div class="groupmatch">
        <h2>GROUPE D</h2>
      <app-match *ngFor="let match of gp4_j1|async" [idmacht]="match"></app-match>
    </div>
    <a name="jour2"></a>
    <h1 >Deuxieme Journee</h1>
  
    <div class="groupmatch">
        <h2>GROUPE A</h2>
        <app-match *ngFor="let match of gp1_j2|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE B</h2>
        <app-match *ngFor="let match of gp2_j2|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE C</h2>
        <app-match *ngFor="let match of gp3_j2|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE D</h2>
        <app-match *ngFor="let match of gp4_j2|async" [idmacht]="match"></app-match>
      </div>
    <a name="jour3"></a>
    <h1 >Troisieme Journee</h1>
  
    <div class="groupmatch">
        <h2>GROUPE A</h2>
        <app-match *ngFor="let match of gp1_j3|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE B</h2>
        <app-match *ngFor="let match of gp2_j3|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE C</h2>
        <app-match *ngFor="let match of gp3_j3|async" [idmacht]="match"></app-match>
      </div>
      <div class="groupmatch">
          <h2>GROUPE D</h2>
        <app-match *ngFor="let match of gp4_j3|async" [idmacht]="match"></app-match>
      </div>
  </section>