.menu1{
    position: relative;
    left: 5px;
    width: 270px;
    box-shadow:0px 6px 25px 1px grey;
    background-color: #343333;
    filter: alpha(opacity=60); 
    opacity: 0.8;
    transition-property:  position ;
    z-index: 2000;
}
.content{
    margin-left: 25%;
    margin-top: 120px;
}
.menuContainer{
    width: 20%;
    display: inline-block;
}