<div class="formulaire">
    <div id="text">
         Entrer les Information des Equipes</div>
<form     class="form" >
    <label for="name">NOM:</label>
    <input type="text" id="name"  name="name" required><br><br>
     <label for="age">Age:</label>
    <input type="number" id="age"  name="age" ><br><br>
    <label for="name">Nombres de joueur:</label>
    <input type="number" id="nomnbre de joueur"  name="nomnbre de joueur" required><br><br>
    <input type="submit" name="submit" value="SAUVEGARDE" id="submit">
    </form> 
 
</div>