<div class="formulaire">
    <div id="text">
         Entrer les Informations des Equipes</div>
<form     class="form" >
        <div class="formgroup">
                <div class="jolielabel">
                    <label for="name">NOM:</label>
                </div>
                <div class="jolieinput">
                    <input type="text" id="name"  name="NOM" required>
                </div>
                
        </div>
        <div class="formgroup">
                <div class="jolielabel">
                    <label for="Represente">Represente:</label>
                </div>
                <div class="jolieinput">
                    <input type="number" id="Represente"  name="Represente" >
                </div>
        </div>
        <div class="formgroup">
                <div class="jolielabel">
                    <label for="Bannière">Bannière:</label>
                </div>
                <div class="jolieinput">
                    <input type="text" id="Bannière"  name="Bannière" required>
                </div>
                
        </div>
        <div class="formgroup">
                <div class="jolielabel">
                    <label for="Coach">Coach:</label>
                </div>
                <div class="jolieinput">
                    <input type="text" id="Coach"  name="Coach" required>
                </div>
        </div>
    <input type="submit" name="submit" value="SAUVEGARDE" id="submit">
    </form> 
    <app-joueur [_id]="_id">equipe ici</app-joueur>
</div>

