/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    background-color: #fff;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h2{
    text-align: center;
    font-size: 30px;
}

.jolielabel{
    display: inline-block;
    width: 40%;
}
.jolieinput{
    display: inline-block;
    width: 60%;
}
.formgroup{
    display: block;
    width: 100%;
    margin-top: 8px;
    
}
.formulaire{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    width: 60%;
    margin: auto; 
    background: #fff;
}
.joliemain{
    display: block;
    widows: 100%;
    margin-top: 170px;
    z-index: 3001;
}

label {
    width: 400px;
    margin-right: 20px;
    padding-right:40px;
}
#input{
    border: none;
    border-bottom: 1px solid #191515;
    width: 250px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    
}
.scoreinput{
     border: none;
    border-bottom: 1px solid #191515;
border-radius: 5px;
    height: 20px;
    width: 80px;
    margin-top: 80px;
}
.vs{
    margin-top: 60px;
    font-size: 20px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #83ebf4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}