/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    background-color: #fff;
}
h2{
    text-align: center;
    font-size: 30px;
}
.active{
    background-color: #d2dfed;
    border-bottom: 2px solid #2d5bf2; 
}
.jolielabel{
    display: inline-block;
    width: 40%;
}
.jolieinput{
    display: inline-block;
    width: 60%;
}
.formgroup{
    display: block;
    width: 100%;
    margin-top: 8px;
    
}
.formulaire{
    box-shadow:0px 6px 25px 1px grey;
    display: block;
    width: 60%;
    margin: auto; 
    background: #fff;
    
}
.joliemain{
    display: block;
    widows: 100%;
    margin-top: 170px;
    z-index: 3001;
}

label {
    width: 400px;
    margin-right: 20px;
    padding-right:40px;
}
#input{
    border: none;
    border-bottom: 1px solid #191515;
    width: 250px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    
}
.scoreinput{
     border: none;
    border-bottom: 1px solid #191515;
border-radius: 5px;
    height: 20px;
    width: 80px;
    margin-top: 80px;
}
.vs{
    margin-top: 60px;
    font-size: 20px;
}