
  <div >
    <h2>Entrer les Informations d'un joueur</h2>
    <form class="form" action="" method="post">
        <div class="formgroup">
            <div class="jolielabel">
              <label for="name">NOM:</label>
            </div>
       
           <div class="jolieinput">
              <input type="text" id="name" [(ngModel)]="joueur.nom" name="name" required>
           </div>
        </div>
        <div class="formgroup">
            <div class="jolielabel">
                <label for="name">PRENOM:</label>
            </div>
            <div class="jolieinput">
                 <input type="text" id="name" [(ngModel)]="joueur.prenom"  name="prenom" required>
            </div>
        </div>
        
        <div class="formgroup">
            <div class="jolielabel">
              <label for="Taille">Taille:</label>
            </div>
            <div class="jolieinput">
              <input type="number" id="Taille" [(ngModel)]="joueur.taile"  name="Taille" required>
            </div>
        </div>    
        <div class="formgroup">
            <div class="jolielabel">
              <label for="POID">POID:</label>
            </div>
            <div class="jolieinput">
              <input type="number" id="POID" [(ngModel)]="joueur.poids"  name="POID" required>
            </div>
        </div>
        <div class="formgroup">
            <div class="jolielabel">
              <label for="age">Age:</label>
            </div>
            <div class="jolieinput">
               <input type="number" id="age" [(ngModel)]="joueur.age"  name="age" >
            </div> 
        </div>
        <div class="formgroup">
            <div class="jolielabel">
              <label for="Dossard">Dossard:</label>
            </div> 
            <div class="jolieinput">
              <input type="number" id="Dossart" [(ngModel)]="joueur.dossard" name="Dossard" required>
            </div> 
        </div>
    <button class="submit" type="submit">sauvegarde</button>
    </form></div>
    
    
    
    
    
    
    