
  <div id="registration">
    <h2>Entrer les Informations d'un joueur</h2>
    <form id="RegisterUserForm" action="" method="post">
      <label for="name">NOM:</label>
      <input type="text" id="name"  name="name" required><br><br>
      <label for="name">PRENOM:</label>
      <input type="text" id="name"  name="name" required><br><br>
      <label for="Taille">Taille:</label>
      <input type="number" id="Taille"  name="Taille" required><br><br>
      <label for="POID">POID:</label>
      <input type="number" id="POID"  name="POID" required><br><br>
       <label for="age">Age:</label>
      <input type="number" id="age"  name="age" ><br><br>
      <label for="Dossard">Dossard:</label>
      <input type="number" id="Dossart"  name="Dossard" required><br><br>
  
    <button id="registerNew" type="submit">sauvegarde</button>
    </form></div>
    
    
    
    
    
    
    