<div class="formulaire">
            <div id="text">
            Entrer les Information des Terrains</div>
        <form     class="form"  (submit)="save()"> 
              <div class="formgroup">
                <div class="jolielabel">
                   <label for="name">NAME:</label>
                </div>
                <div class="jolieinput">
                      <input type="text" id="name" [(ngModel)]="terrains.nom" name="name" required>
                </div>
            
            </div>
            <div class="formgroup">
                <div class="jolielabel">
                  
                  <label for="place">N° Place:</label>

                </div>
                <div class="jolieinput">
                   <input type="number" id="place" [(ngModel)]="terrains.nombre_place"  name="place" >
                </div>
            
            </div>
            <div class="formgroup">
                <div class="jolielabel">
                  
                   <label for="sit">Situation:</label>

                </div>
                <div class="jolieinput">
                   <input type="text" [(ngModel)]="terrains.situation" id="place"  name="place" >
                </div>
            
            </div>
            <input type="submit" name="submit"  id="submit">
      </form> 
         
</div>



