<div class="formulaire">
            <div id="text">
            Entrer les Information des Terrains</div>
        <form     class="form" >
            <label for="name">NAME:</label>
            <input type="text" id="name"  name="name" required><br><br>
             <label for="place">N° Place:</label>
            <input type="number" id="place"  name="place" ><br><br>
             <label for="sit">Situation:</label>
            <input type="text" id="sit"  name="situation" ><br><br>
            <input type="submit" name="submit" value="Add" id="submit">
            </form> 
         
        </div>



