
    <header class="tete">
         <div class="logo"><a routerLink="/acceuil"><img src="/assets/logo.jpg" width="200" height="60"></a></div>
        <div class="navbar">
            <ul class="nav-menu">
            <li ><a routerLink="/competition">New Comp.</a></li>
            <li ><a routerLink="/resultat">Competition</a></li>
            <li ><a routerLink="/programme">Calendrier</a></li>
            <li ><a routerLink="/classement">Classement</a></li>
            <li class="dec"><a routerLink="/connexion">connexion</a></li>
            </ul>
            
                
    
           
        </div>
    
    </header>
   
