.header{
    height: 80px;
    background-color: #fff;
    
}
.navbar{
    margin-left: 300px;
    height: 80px;
}
.navbar ul li{
    display: inline-block;
    padding: 30px;
    font-size: 20px;
    background-color: aliceblue;
    border-left: 1px solid #00f5ff;
   
}
.navbar ul li:hover{
    background-color: #d2dfed;
    border-bottom: 1px solid #eded0c;
    
}
.logo{
    float: left;
}
.navbar ul li a{
  text-decoration: none;
   color: #555050 ;
}