
    <header class="tete">
         <div class="logo"><a routerLink="/acceuil"><img src="/assets/logo.jpg" width="200" height="60"></a></div>
        <div class="navbar">
            <ul class="nav-menu">
            <li ><a routerLink="/competition">New Comp.</a></li>
            <li ><a routerLink="/resultat">Competition</a></li>
            <li ><a routerLink="/programme">Calendrier</a></li>
            <li ><a routerLink="/classement">Classement</a></li>
            <li class="dec"><a routerLink="/connexion">connexion</a></li>
            </ul>
            <div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="/assets/image.jpg" style="width:100%" height="400">
  <div class="text">WELLCOME TO COMPETITION MANAGER</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="/assets/foot12.jpg" style="width:100%" height="400">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="/assets/foot13.jpg" style="width:100%" height="400">
  <div class="text"></div>
</div>

</div>
<br>

                
    
           
        </div>
    
    </header>
   
