
    <header class="tete" id="apphead">

      <div class="menu">
        <div class="petite">
                <div id="logo"><a routerLink="/acceuil">ACTUFOOT</a></div>
                <img class="men" id="menu" src="/assets/menu.png" width="40" height="40">
        </div>

         <div class="navbar">
             <ul class="nav-menu">
              <li ><a routerLink="/competition" id="manage" *ngIf="connecter">Manage</a></li>
              <li ><a routerLink="/resultat" id="match" class="active">Match</a></li>
              <li ><a routerLink="/classement" id="classement">Classement</a></li>
              <li class="dec"><a routerLink="/connexion" id="admin">Admin</a></li>
                 
             </ul>
        
          </div>
          
      </div>
        
      <div class="overley" id="content">
  
        </div>
    </header>
   
  