.tete{
    height: 102px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    box-shadow: 0px 8px 14px -3px grey;
    z-index: 3000;
    opacity: 1;
    background-color: #fff;
    
}

.navbar ul li:active{
     background-color: #d2dfed;
    border-bottom: 2px solid #2d5bf2; 
    display: inline-flex;
}
.navbar{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    height: 70px;

}
.navbar ul li{
    
    display: inline-flex;
    padding: 15px;
    font-size: 20px;
    width: 15%;
   cursor: pointer;
}
.navbar ul li:hover{
    background-color: #d2dfed;
    border-bottom: 2px solid #2d5bf2;
    margin-top: 2px;
    
}
.logo{
    float: left;
    margin-top: 25px;
    margin-left: 5p
}
.navbar ul li a{
  text-decoration: none;
   color: #555050 ;
}
.dec{
    float: right;
}