.table
{
   
	text-align:center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
td
{
    border: 1px ;
	text-align: center;    
	
}
tr{
    height: 40px;
    background-color: #3f3da7d8;
}
table tr:nth-child(odd) td {
  background-color: #F0F0F0;
}
.cools{
    background-color: #3f3da7d8;
    
}
.eq{
    width: 20%;
}
th{
    width: 8%;
}
  h1
{
    text-align:center;
    
}
