#quart{
    margin-top: 20px;

    background-color: #6aa7ed;
}
h3{
    color: #fc9e21;
    text-shadow: -5px 4px 4px;

    margin-top: 20px;
}
@media screen and (max-width:480px){
    .tout{
        margin-top: 300px;
    }
}