<section class="tout">
  <h1 id="jour1">Premiere Journee</h1>

  <div class="joliemain">
    <h3>GROUPE A</h3>
    <app-match *ngFor="let match of gp1_j1|async" [idmacht]="match"></app-match>
  </div>
  <div class="joliemain">
      <h3>GROUPE B</h3>
    <app-match *ngFor="let match of gp2_j1|async" [idmacht]="match"></app-match>
  </div>
  <div class="joliemain">
      <h3>GROUPE C</h3>
    <app-match *ngFor="let match of gp3_j1|async" [idmacht]="match"></app-match>
  </div>
  <div class="joliemain">
      <h3>GROUPE D</h3>
    <app-match *ngFor="let match of gp4_j1|async" [idmacht]="match"></app-match>
  </div>
  <h1 id="jour2">Deuxieme Journee</h1>

  <div class="joliemain">
      <h3>GROUPE A</h3>
      <app-match *ngFor="let match of gp1_j2|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE B</h3>
      <app-match *ngFor="let match of gp2_j2|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE C</h3>
      <app-match *ngFor="let match of gp3_j2|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE D</h3>
      <app-match *ngFor="let match of gp4_j2|async" [idmacht]="match"></app-match>
    </div>
  <h1 id="jour1">Troisieme Journee</h1>

  <div class="joliemain">
      <h3>GROUPE A</h3>
      <app-match *ngFor="let match of gp1_j3|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE B</h3>
      <app-match *ngFor="let match of gp2_j3|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE C</h3>
      <app-match *ngFor="let match of gp3_j3|async" [idmacht]="match"></app-match>
    </div>
    <div class="joliemain">
        <h3>GROUPE D</h3>
      <app-match *ngFor="let match of gp4_j3|async" [idmacht]="match"></app-match>
    </div>
    <button (click)="quart()" id="quart" class="button"><span>GO TO QUART</span></button>
</section>
