
.header{
    height: 80px;
    background-color: rgba(51, 23, 139, 0.363);
    box-shadow: 0px 13px 14px -3px #;
}
.formulaire{
    margin-left: 30%;
    margin-top: 90px;
    background: rgb(250, 242, 242);
   display: block width ;
   margin:auto;
   }
.form{
   margin-left: 60px;
    margin-top: 30px;
    padding: 50px
   
}


#text{
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
}
#text1{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
#submit{
    margin-left: 35%;
    width: 25%;
    background-color: #2b1992bc;
    margin-top:30px;
    height: 30px;
    font-size: 20px;
    border: 0px;
}
.footer{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    height: 100px;
}
.foot3{
    float:right;
    margin-right: 40%;
    margin-top: 20px;
    
}
.foot2{
    float: left;
}
.foot1{
    text-align: center;
}
input{
    border-radius:0; 
    height: 30px;
    font-size: 20px;
   
}
h1{
    padding-top: 80px;
}
label {
    width: 35%;
    margin-right: 25%;
    padding-right:80%;
    margin-left: 35%;
}