
        <header class="header">
         <div class="logo"><a routerLink="/acceuil"><img src="/assets/logo.jpg" width="200" height="60"></a></div>
        </header>
        <div class="formulaire">
            <div id="text">
            Connect to enter in your competion</div>
        <form action=""     class="form" (submit)='connect()'>
            <label for="name">NAME:</label>
            <input type="text" id="name" [(ngModel)]="user.nom" name="name"><br><br>
             
             <label for="password">PASSWORD:</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="password"><br><br>
            <input type="submit" name="submit" value="Connecter" id="submit">
            </form> 
         <div id="text1">
           If you don't yet have a competion, sign in , on inscription below<br>
            <a routerLink="/inscription">inscription</a></div>
        </div>
        
    

  


