
        <header class="header">
         <div class="logo"><a routerLink="/acceuil"><img src="/assets/logo.jpg" width="200" height="60"></a></div>
        </header>
        <div class="formulaire">
            <div id="text">
            Register to creat your competion</div>
        <form     class="form" (submit)="add()">
            <label for="name">NAME:</label>
            <input type="text" id="name" [(ngModel)]="user.nom" name="name" required><br><br>
             <label for="email">EMAIL:</label>
            <input type="email" id="email" [(ngModel)]="user.email" name="email" required><br><br>
             <label for="password">PASSWORD:</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="password" required><br><br>
            <input type="submit" name="submit" value="Connecter" id="submit">
            </form> 
         <div id="text1">
           If you have a competion,connect<br>
           <a routerLink="/connexion">connexion</a><br/>
        </div>
        </div>
        
