<div class="topajuste">
        <h1>Inscription</h1>
        <form     class="form" (submit)="add()">
            
                
               <div class="formgroup">
                <div class="jolielabel">
                   <label for="name">NAME</label>
                </div>
                <div class="jolieinput">
                      <input type="text" id="name" [(ngModel)]="user.nom" name="name" required>
                </div>
            
            </div>
                        <div class="formgroup">
                <div class="jolielabel">
                  
                    <label for="email">EMAIL</label>

                </div>
                <div class="jolieinput">
                   <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
                </div>
            
            </div>
            <div class="formgroup">
                <div class="jolielabel">
                   <label for="password">PASSWORD</label>
                </div>
                <div class="jolieinput">
                     <input type="password" id="password" [(ngModel)]="user.password" name="password" >
                </div>
            
            </div>
            <div class="buttonCo">
                    <button class="buttonCe" type="submit">{{register}}</button>
            </div>
            </form> 
         <div id="text1">
           If you have a competion,connect<br>
           <a routerLink="/connexion" style="color:blue">connexion</a><br/>
        </div>
        </div>
        
