
.form{
   margin-left: 70px;
    margin-top: 100px;
}

#text{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
#text1{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
#submit{
    margin-left: 80px;
    width: 150px;
    background-color: #2fbaf8;
    margin-top:30px;
    height: 30px;
font-size: 20px;
    border: 0px;
    cursor: pointer;
}
.footer{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    height: 100px;
}
.foot3{
    float:right;
    margin-right: 40%;
    margin-top: 20px;
}
.foot2{
    float: left;
}
.foot1{
    text-align: center;
}