<div class="formulaire">
            <div id="text">
            Enter the Information about the Competition</div>
        <form     class="form" (submit)="send_init_info()">
            <label for="name">NAME:</label>
            <input type="text" id="name" [(ngModel)]="info_comp.nom"  name="name" required><br><br>
             <label for="rules">Rules:</label>
            <input type="text" id="rules" [(ngModel)]="info_comp.reglement"  name="rules" ><br><br>
             <label for="sit">Situation:</label>
            <input type="text" id="sit" [(ngModel)]="info_comp.situation" name="situation" ><br><br>
            <input type="submit" name="submit" value="Send" id="submit">
        </form> 
         
        </div>
        

    
