<div class="formul">
      <div> <form     class="form" >
            <div class="box1"><div class="nomequipe1"></div><div class="logo1"></div></div>
            <div>
            <input type="number" class="scoreinput"  name="score1" placeholder="score" required>
                </div>
             <div class="vs">VS</div>
            <div><input type="number" class="scoreinput"  name="score2" placeholder="score" required>
                </div>
            
            <div class="box2"><div class="nomequipe2"></div><div class="logo2"></div></div>
             <input type="submit" id="submit" class="sub" value="send">
            </form> </div> 
    <div class="butteur">
        <button class="sub">Butteur</button><br>
                 <form action="" class="butform">
            <input type="text"   class="but" name="buteur" placeholder="nom buteur" ><br><br>
               
            <input type="number"   class="but" name="but" placeholder="N° de but" ><br><br>
             <input type="submit" name="submit" class="sub" value="ADD"  >   
                </form>
                     </div>
         
        </div>
        