
.form{
    -webkit-display:flex;
     display: flex;
     margin-top: 5px;
     width: 100%;
     height: 140px;
}
.box1{
    display: inline-block;
    width: 40%;
}
.box2{
    display: inline-block;
    width: 40%;
}
.nomequipe1{
    height: 30px;
   
}
.logo1{
    background-color: #fff;
    border-radius: 4px;
}
.jolieimage{
    height: 100px;
}
.nomequipe2{
    height: 30px;
 
}
.logo2{
    background-color: #fff;
    border-radius: 4px;
}




.score{
    display: inline-block;
    border: none;
    width: 10%;
    margin-top: 30%;
    font-size: 200%;
    text-align: center;

}
h3{
    font-size: 0.8em;
}
@media (max-width:480px){
    .score{
        margin-top: 28%;
    }
}