.matchi{
    display: inline-flex;
    width: 43%;
    margin-left: 5%; 
}
.formul{
    margin: auto;
    margin-top: 5px;
    background: #fff;
    width: 100%;
  
}
.form{
    -webkit-display:flex;
     display: flex;
    
}
.box1{
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.box2{
    height: 150px;
    width: 200px;
   
     margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.nomequipe1{
    height: 30px;
   
}
.logo1{
   background-color: aliceblue; 
    height: 120px;
}
.nomequipe2{
    height: 30px;
 
}
.logo2{
   background-color: aliceblue; 
    height: 120px;
}




.score{
    border: none;
    height: 60px;
    width: 60px;
    margin-top: 28%;
    font-size: 200%;
    text-align: center;

}
