
        
         <div class="connexion">
            <a routerLink='/connexion' class="button"><span>connexion</span></a></div>
       <div class="space"></div>
        <div class="header">
            
                 <div class="wellcome">
                     WELLCOME TO COMPETION MANAGER
                </div>
             
        

           </div>

       
        <div class="message">
        <h2>What is competion manager ?</h2>
        <p class="text">Notre application est une aide a la gestion de competion de 16 equipes, elle produit les poules, les rencontres des matchs. <br>
        Pour creer un tournoi il faut les equipes de 11 joueurs minimum et au moins 4 stade et arbitre .<br>
        Pour cree une competition, clique sur le lien suivant.
            </p>
        </div>
        <div class="im2"></div>
        <div class="creat-comp"><a routerLink="/inscription"  width="400px">Creat a competition </a>
        </div>
       



