
.header{
    height: 90px;
    margin: 0px;
background-image: url('/assets/foot6.jpg')  ;
   
     
}
.connexion{
    float:right;
    margin:10px;
}
.logo{
    float: left;
    padding: 20px;
    font-size:30px;
}
.wellcome{
    font-family: cursiva, lemon, proxima;
    font-size: 40px;
    text-align: center;
    color: #4ef738

}
.im1{
    float:left;
    margin-top: 20px;
    margin-left: 40px;
}

.message{
    
    height:400px;
    background-color: #fff;    
    margin-top: 20px;
    font-size: 30px;
    width: 50%;
        margin-left: 30%;
   overflow: scroll;
}
.creat-comp{
    width: 300px;
    margin-left: 30%;
    background-color: aqua;
    text-align: center;
    font-size: 30px;
   cursor: pointer;
    
}
a{
    text-decoration: none;
    color: #fff;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #83ebf4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.footer{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    height: 100px;
}
.foot3{
    float:right;
    margin-right: 40%;
    margin-top: 20px;
}
.foot2{
    float: left;
}
.foot1{
    text-align: center;
}